<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AshiLLC-Housing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A2E38BA1E6260AA00C62434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A2E38CE1E6260AA00C62434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A2E38D91E6260AA00C62434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
